@{
    ViewData["Title"] = "Snake";
}

<h2 class="text-center">Snake</h2>
<h6 class="text-center">Turn number: 0</h6>
<h5 class="text-center">Score: 0</h5>
<div class="d-flex justify-content-center">
    <canvas id="gameBoard"></canvas>
</div>

@section scripts
{
    <script src="~/js/clientForSnake.js" asp-append-version="true"></script>
}
